body{
    background-color: rgb(75, 75, 246);
    font-family: Arial, Helvetica, sans-serif;
}
header{
color : white;
text-align: center;
}

section{
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.344);
}

footer{ 
 color : white;
 font-style: italic;
    text-align: center;
}
#foto {
    display: block;        
    margin: 15px auto;     
    width: 250px;          
    height: 250px;         
    object-fit: cover;     
    border-radius: 50%;
}